<div class="user-profile-detail overflow">
  <div class="user-profile-detail-page">
    <div class="user-profile-detail-title">
      <router-outlet></router-outlet>
    </div>
    <div class="user-profile-detail-navbar">
      <ul class="user-profile-detail-nav-links">
        <li>
          <a routerLink="about" href="" [routerLinkActive]="'active'">About</a>
        </li>
        <li>
          <a routerLink="resume" href="" [routerLinkActive]="'active'"
            >Resume</a
          >
        </li>
        <li>
          <a routerLink="portfolio" href="" [routerLinkActive]="'active'"
            >Portfolio</a
          >
        </li>
        <li>
          <a routerLink="contact" href="" [routerLinkActive]="'active'"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
