<div class="user-profile">
    <div class="user-profile-list">
        <div class="user-profile-wrapper">
            <div class="profile-img">
                <img src="assets/img/Component-3.png" alt="">
            </div>
            <div class="user-details">
                <h3 class="user-name">Shahryar Biag</h3>
                <span class="user-role">Senior UI/UX Designer</span>
                <img src="assets/img/Component-1.png" alt="">
            </div>
        </div>
    </div>
</div>