.portfolio {
  margin-top: 1rem;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: #3E3B3B;
    margin-bottom: 20px;
  }

  .portfolio__nav {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-wrap: wrap;
  }
}

.portfolio__nav {
  margin-bottom: 3.4rem;

  .portfolio__nav--btn {
    border: none;
    outline: none;
    background-color: transparent;
    // margin: 0.45rem 0.4rem;
    padding-right: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    // line-height: 1;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
    color: #878789;

    &.active {
      color: #3E3B3B;
    }
  }
}

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .portfolio__gallery--item {
    width: 23%;
    // padding-right: 1rem;
    margin-bottom: 1rem;
  }
}

.gallery-image {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 199px;
  width: 100%;
  cursor: pointer;
}

.gallery-image img {
  position: absolute;
  height: 115%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: 0.5s;
}

.gallery-image .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: var(--light-one);
  background-color: rgba(120, 76, 251, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 3.2rem;
  opacity: 0;
  transition: 0.5s;
}


.img-description {
  width: 100%;
}

.img-overlay h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.img-overlay h5 {
  font-size: 1.15rem;
  font-weight: 300;
}

.gallery-image:hover .img-overlay {
  opacity: 1;
}

.gallery-image:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}


@media (max-width:700px) {
  .portfolio__nav {
    display: none !important;
  }

  .portfolio__gallery {
    flex-wrap: initial;
    gap: 0px;
    flex-direction: column;

    .portfolio__gallery--item {
      width: 100%;

      .gallery-image {
        img {
          width: 100%;
        }
      }
    }
  }
}